<%= form_with(model: curri, local: true) do |form| %>
  <% if curri.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(curri.errors.count, "error") %> prohibited this curri from being saved:</h2>

      <ul>
      <% curri.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
