<footer class="padding-50 dark ui-bg-color01" data-animation-origin="top" data-animation-duration="500" data-animation-delay="800" data-animation-distance="50px">
  <div class="container-fluid nopadding">
    <div class="row">
      <div class="col-md-12 copyrights text-right">
        <p>© 2018 DGULION.</p>
      </div>
    </div>
  </div>
</footer>
<!-- Back to Top -->
<div id="back-top"></div>
<!-- /Back to Top -->
