<div id="preloader"></div>
<header>
  <section id="top-navigation" class="container-fluid nopadding">
    <div class="row nopadding ident ui-bg-color01">
      <!-- Photo -->
      <a href="index.html">
        <div class="col-md-5 vc-photo photo-likelion">&nbsp;</div>
      </a>
      <!-- /Photo -->
      <div class="col-md-7 vc-name nopadding">
        <!-- Name-Position -->
        <div class="row nopadding name">
          <div class="col-md-10 name-title">
            <h1 class="font-accident-two-light">동국대 멋쟁이사자처럼</h1>
          </div>
          <div class="col-md-2 nopadding name-pdf">
            <a href="<%= new_user_session_path %>" class="hvr-sweep-to-right">
              <i class="flaticon-profile5" title="로그인"></i>
            </a>
          </div>
        </div>
        <div class="row nopadding position">
          <div class="col-md-10 position-title">
            <section class="cd-intro">
              <h2 class="cd-headline clip is-full-width font-accident-two-light">
                <span>DGULION</span>
                <span class="cd-words-wrapper">
                  <b class="is-visible"><font class="color-red">D</font>esi<font class="color-red">G</font>n yo<font class="color-red">U</font>r <font class="color-red">LI</font>fe <font class="color-red">ON</font> yourself</b>
                  <b class="color-red">상상을 실현하자</b>
                </span>
              </h2>
            </section>

          </div>
          <div class="col-md-2 nopadding pdf">
            <a href="#" class="hvr-sweep-to-right">
              <i class="flaticon-behance7" title="My Behance Portfolio"></i>
            </a>
          </div>
        </div>
        <!-- /Name-Position -->

        <!-- Main Navigation -->

        <ul id="nav" class="row nopadding cd-side-navigation">
          <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color01">
            <a href="index.html" class="hvr-sweep-to-bottom">
              <i class="flaticon-insignia"></i>
              <span>홈</span></a>
          </li>
          <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color02">
            <a href="resume.html" class="hvr-sweep-to-bottom">
              <i class="flaticon-graduation61"></i>
              <span>우리</span></a>
          </li>
          <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color03">
            <a href="portfolio-4-col.html" class="hvr-sweep-to-bottom">
              <i class="flaticon-book-bag2"></i>
              <span>강의</span></a>
          </li>
          <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color04">
            <a href="contacts.html" class="hvr-sweep-to-bottom">
              <i class="flaticon-placeholders4"></i>
              <span>과제</span></a>
          </li>
          <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color05">
            <a href="feedback.html" class="hvr-sweep-to-bottom">
              <i class="flaticon-earphones18"></i>
              <span>활동</span></a>
          </li>
          <li class="col-xs-4 col-sm-2 nopadding menuitem ui-menu-color06">
            <a href="blog-3-col.html" class="hvr-sweep-to-bottom">
              <i class="flaticon-pens15"></i>
              <span>other</span></a>
          </li>
        </ul>

        <!-- /Main Navigation -->

      </div>
    </div>
  </section>

</header>
