<%= render 'shared/header' %>

<!-- Container -->
<div class="content-wrap">

  <div class="container-fluid nopadding">

    <section id="counts" class="padding-60 dark ui-menu-color01" data-section="counter" data-animation-origin="right" data-animation-duration="400" data-animation-delay="100" data-animation-distance="100px">
      <div class="count-container row">
        <div class="col-md-3 col-sm-6 col-xs-12 count">
          <div data-animation-origin="top" data-animation-duration="400" data-animation-delay="500" data-animation-distance="50px">
            <div class="count-icon">
              <i class="flaticon-photo246"></i>
            </div>
            <span class=".integers digit font-accident-two-normal" data-counter="3">3</span>

            <div class="count-text font-accident-two-bold">년간</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 count">
          <div data-animation-origin="top" data-animation-duration="400" data-animation-delay="700" data-animation-distance="50px">
            <div class="count-icon">
              <i class="flaticon-book-bag2"></i>
            </div>
            <span class=".integers digit font-accident-two-normal" data-counter="75">75</span>

            <div class="count-text font-accident-two-bold">명의 사자가</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 count">
          <div data-animation-origin="top" data-animation-duration="400" data-animation-delay="900" data-animation-distance="50px">
            <div class="count-icon">
              <i class="flaticon-stats48"></i>
            </div>
            <span class=".integers digit font-accident-two-normal" data-counter="7">7</span>

            <div class="count-text font-accident-two-bold">번의 해커톤을 통해</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 count">
          <div data-animation-origin="top" data-animation-duration="400" data-animation-delay="1100" data-animation-distance="50px">
            <div class="count-icon">
              <i class="flaticon-shopping-carts6"></i>
            </div>
            <span class=".integers digit font-accident-two-normal" data-counter="31">31</span>

            <div class="count-text font-accident-two-bold">개의 서비스를 만들었습니다.</div>
          </div>
        </div>
      </div>
      <div class="dividewhite2"></div>
    </section>

    <section class="works" data-section="portfolio">
      <div class="row row-no-padding">
        <div class="grid text-center">
          <div id="posts" class="row popup-container">
            <div class="grid-item web marketing col-lg-3 col-md-4 col-sm-6">
              <div class="item-wrap nopadding">
                <figure class="effect-goliath ui-menu-color02" data-animation-origin="left" data-animation-duration="400" data-animation-delay="600" data-animation-distance="100px">
                  <div class="popup-call">
                    <a href="assets/custom/2.2.0/images/layouts/james/portfolio/4-columns/04.jpg" class="gallery-item">
                      <i class="flaticon-arrows-4"></i>
                    </a>
                  </div>
                  <img src="/assets/custom/2.2.0/images/layouts/james/portfolio/4-columns/04.jpg" class="img-responsive" alt="img11"/>
                  <figcaption>
                    <div class="fig-description">
                      <h3>Creative
                        <span>Portfolio</span></h3>
                      <p>#web #seo
                      </p>
                    </div>
                    <a href="portfolio-item-01.html"></a>
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="grid-item uncategorized col-lg-3 col-md-4 col-sm-6">
              <div class="item-wrap nopadding">
                <figure class="effect-goliath ui-menu-color02" data-animation-origin="left" data-animation-duration="400" data-animation-delay="400" data-animation-distance="50px">
                  <div class="popup-call">
                    <a href="assets/custom/2.2.0/images/layouts/james/portfolio/4-columns/05.jpg" class="gallery-item">
                      <i class="flaticon-arrows-4"></i>
                    </a>
                  </div>
                  <img src="/assets/custom/2.2.0/images/layouts/james/portfolio/4-columns/05.jpg" class="img-responsive" alt="img03"/>
                  <figcaption>
                    <div class="fig-description">
                      <h3>Fast
                        <span>And Simple</span></h3>
                      <p>#web #seo</p>
                    </div>
                    <a href="portfolio-item-01.html"></a>
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="grid-item web col-lg-3 col-md-4 col-sm-6">
              <div class="item-wrap nopadding">
                <figure class="effect-goliath ui-menu-color02" data-animation-origin="right" data-animation-duration="400" data-animation-delay="400" data-animation-distance="50px">
                  <div class="popup-call">
                    <a href="assets/custom/2.2.0/images/layouts/james/portfolio/4-columns/07.jpg" class="gallery-item">
                      <i class="flaticon-arrows-4"></i>
                    </a>
                  </div>
                  <img src="/assets/custom/2.2.0/images/layouts/james/portfolio/4-columns/07.jpg" class="img-responsive" alt="img03"/>
                  <figcaption>
                    <div class="fig-description">
                      <h3>Quality
                        <span>Code</span></h3>
                      <p>#web #seo</p>
                    </div>
                    <a href="portfolio-item-01.html"></a>
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="grid-item marketing seo col-lg-3 col-md-4 col-sm-6">
              <div class="item-wrap nopadding">
                <figure class="effect-goliath ui-menu-color02" data-animation-origin="right" data-animation-duration="400" data-animation-delay="600" data-animation-distance="100px">
                  <div class="popup-call">
                    <a href="assets/custom/2.2.0/images/layouts/james/portfolio/4-columns/03.jpg" class="gallery-item">
                      <i class="flaticon-arrows-4"></i>
                    </a>
                  </div>
                  <img src="/assets/custom/2.2.0/images/layouts/james/portfolio/4-columns/03.jpg" class="img-responsive" alt="img03"/>
                  <figcaption>
                    <div class="fig-description">
                      <h3>Impressive
                        <span>Solution</span></h3>
                      <p>#web #seo</p>
                    </div>
                    <a href="portfolio-item-01.html"></a>
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="grid-item uncategorized col-lg-3 col-md-4 col-sm-6">
              <div class="item-wrap nopadding">
                <figure class="effect-goliath ui-menu-color02" data-animation-origin="left" data-animation-duration="400" data-animation-delay="800" data-animation-distance="100px">
                  <div class="popup-call">
                    <a href="assets/custom/2.2.0/images/layouts/james/portfolio/4-columns/11.jpg" class="gallery-item">
                      <i class="flaticon-arrows-4"></i>
                    </a>
                  </div>
                  <img src="/assets/custom/2.2.0/images/layouts/james/portfolio/4-columns/11.jpg" class="img-responsive" alt="img03"/>
                  <figcaption>
                    <div class="fig-description">
                      <h3>Fast
                        <span>And Simple</span></h3>
                      <p>#web #seo</p>
                    </div>
                    <a href="portfolio-item-01.html"></a>
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="grid-item web col-lg-3 col-md-4 col-sm-6">
              <div class="item-wrap nopadding">
                <figure class="effect-goliath ui-menu-color02" data-animation-origin="left" data-animation-duration="400" data-animation-delay="600" data-animation-distance="50px">
                  <div class="popup-call">
                    <a href="assets/custom/2.2.0/images/layouts/james/portfolio/4-columns/10.jpg" class="gallery-item">
                      <i class="flaticon-arrows-4"></i>
                    </a>
                  </div>
                  <img src="/assets/custom/2.2.0/images/layouts/james/portfolio/4-columns/10.jpg" class="img-responsive" alt="img03"/>
                  <figcaption>
                    <div class="fig-description">
                      <h3>Quality
                        <span>Code</span></h3>
                      <p>#web #seo</p>
                    </div>
                    <a href="portfolio-item-01.html"></a>
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="grid-item marketing seo col-lg-3 col-md-4 col-sm-6">
              <div class="item-wrap nopadding">
                <figure class="effect-goliath ui-menu-color02" data-animation-origin="right" data-animation-duration="400" data-animation-delay="600" data-animation-distance="50px">
                  <div class="popup-call">
                    <a href="assets/custom/2.2.0/images/layouts/james/portfolio/4-columns/13.jpg" class="gallery-item">
                      <i class="flaticon-arrows-4"></i>
                    </a>
                  </div>
                  <img src="/assets/custom/2.2.0/images/layouts/james/portfolio/4-columns/13.jpg" class="img-responsive" alt="img03"/>
                  <figcaption>
                    <div class="fig-description">
                      <h3>Impressive
                        <span>Solution</span></h3>
                      <p>#web #seo</p>
                    </div>
                    <a href="portfolio-item-01.html"></a>
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="grid-item grid-sizer web seo col-lg-3 col-md-4 col-sm-6">
              <div class="item-wrap nopadding">
                <figure class="effect-goliath ui-menu-color02" data-animation-origin="right" data-animation-duration="400" data-animation-delay="800" data-animation-distance="100px">
                  <div class="popup-call">
                    <a href="assets/custom/2.2.0/images/layouts/james/portfolio/4-columns/12.jpg" class="gallery-item">
                      <i class="flaticon-arrows-4"></i>
                    </a>
                  </div>
                  <img src="/assets/custom/2.2.0/images/layouts/james/portfolio/4-columns/12.jpg" class="img-responsive" alt="img03"/>
                  <figcaption>
                    <div class="fig-description">
                      <h3>Awesome
                        <span>Skills</span></h3>
                      <p>#web #seo</p>
                    </div>
                    <a href="portfolio-item-01.html"></a>
                  </figcaption>
                </figure>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section id="owl-carousel" data-section="owl-carousel" data-animation-origin="bottom" data-animation-duration="500" data-animation-delay="400" data-animation-distance="100px">
      <div class="owl-carousel owl-theme">

        <div class="item">
          <div class="feat-post text-center">
            <div class="feat-wrapper">
              <div class="feat-metas">
                <a href="#!" class="meta-date">29 July</a>in
                <a href="#!" class="meta-cat">Blogging</a>
                <h3 class="font-accident-two-normal text-nowrap color-red">Dubai, Arab Emirates</h3>
                <hr>
                <p>Prototyping & Wireframing</p>
                <div class="morelink">
                  <a href="#!" class="red">read more</a>
                </div>
              </div>
            </div>
          </div>
          <img src="/assets/custom/2.2.0/images/layouts/james/carousel/carousel-01-1.jpg" class="img-responsive" alt="01">
        </div>

        <div class="item">
          <div class="feat-post text-center">
            <div class="feat-wrapper">
              <div class="feat-metas">
                <a href="#!" class="meta-date">29 July</a>in
                <a href="#!" class="meta-cat">Blogging / Leadership</a>
                <h3 class="font-accident-two-normal text-nowrap color-cyan">Sidney, Australia</h3>
                <hr>
                <p>Photoshop Actions</p>
                <div class="morelink">
                  <a href="#!" class="cyan">read more</a>
                </div>
              </div>
            </div>
          </div>
          <img src="/assets/custom/2.2.0/images/layouts/james/carousel/carousel-02-1.jpg" class="img-responsive" alt="01">
        </div>

        <div class="item">
          <div class="feat-post text-center">
            <div class="feat-wrapper">
              <div class="feat-metas">
                <a href="#!" class="meta-date">29 July</a>in
                <a href="#!" class="meta-cat">Holidays</a>
                <h3 class="font-accident-two-normal text-nowrap color-blue">New York City, US</h3>
                <hr>
                <p>Responsive Design</p>
                <div class="morelink">
                  <a href="#!" class="blue">read more</a>
                </div>
              </div>
            </div>
          </div>
          <img src="/assets/custom/2.2.0/images/layouts/james/carousel/carousel-03-1.jpg" class="img-responsive" alt="01">
        </div>

      </div>
      <div class="e-divider-6"></div>
    </section>

    <section
      id="details"
      class="padding-50 inner dark ui-block-color04"
      data-section="home"
      data-animation-origin="left"
               data-animation-duration=""
      400"
               data-animation-delay="
      200"
               data-animation-distance="
      100px"="100px"">
      <div class="row">
        <div class="col-md-12 text-center nopadding">
          <div class="dividewhite2"></div>
          <h3 class="font-accident-two-normal uppercase">Gridus Resume HTML Template</h3>
          <div class="dividewhite6"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 infoblock text-center" data-animation-origin="left" data-animation-duration="600" data-animation-delay="600" data-animation-distance="100px">
          <div class="row">
            <div class="col-md-12">
              <i class="flaticon-photo246"></i>
            </div>
            <div class="col-md-12">
              <div class="dividewhite1"></div>
              <h5 class="font-accident-two-bold uppercase">Clean & Flat</h5>
              <p class="small">
                Gridus Personal Template is the simple, clean and stylish fully-responsive resume / curriculum vitae WordPress theme
              </p>
            </div>
          </div>
          <div class="dividewhite2"></div>
        </div>
        <div class="col-md-3 infoblock text-center" data-animation-origin="left" data-animation-duration="500" data-animation-delay="400" data-animation-distance="50px">
          <div class="row">
            <div class="col-md-12">
              <i class="flaticon-pie-graph"></i>
            </div>
            <div class="col-md-12">
              <div class="dividewhite1"></div>
              <h5 class="font-accident-two-bold uppercase">Optimized</h5>
              <p class="small">
                It is perfect as a vCard, creative Portfolio or personal CV and resume website for artists, designers and job-seekers.
              </p>
            </div>
          </div>
          <div class="dividewhite2"></div>
        </div>
        <div class="col-md-3 infoblock text-center" data-animation-origin="right" data-animation-duration="500" data-animation-delay="400" data-animation-distance="50px">
          <div class="row">
            <div class="col-md-12">
              <i class="flaticon-clocks18"></i>
            </div>
            <div class="col-md-12">
              <div class="dividewhite1"></div>
              <h5 class="font-accident-two-bold uppercase">Customizable</h5>
              <p class="small">
                The Ready-to-use pre-defined color css classes make possible to Customize your websire in a wide range.
              </p>
            </div>
          </div>
          <div class="dividewhite2"></div>
        </div>
        <div class="col-md-3 infoblock text-center" data-animation-origin="right" data-animation-duration="600" data-animation-delay="600" data-animation-distance="100px">
          <div class="row">
            <div class="col-md-12">
              <i class="flaticon-stats47"></i>
            </div>
            <div class="col-md-12">
              <div class="dividewhite1"></div>
              <h5 class="font-accident-two-bold uppercase">Multi-purpose</h5>
              <p class="small">
                Made for professionals, people who want to show their creative way to success. Share your experience with Gridus.
              </p>
            </div>
          </div>
          <div class="dividewhite2"></div>
        </div>
      </div>
    </section>

    <section id="" class="" data-section="home">
      <div class="row flex-row row-no-padding">
        <div id="pro-experience" class="col-md-6 flex-column dark ui-block-color02" data-animation-origin="left" data-animation-duration="500" data-animation-delay="500" data-animation-distance="100px">
          <div class="padding-50 flex-panel">
            <h3 class="font-accident-two-normal uppercase">Professional Experience</h3>
            <div class="dividewhite4"></div>
            <div class="experience">
              <ul class="">
                <li class="date">02/2008 - 04/2010</li>
                <li class="company uppercase">
                  <a>
                    ABC Brodcast Inc. New York.
                  </a>
                </li>
                <li class="position">Junior Designer</li>
              </ul>
              <ul class="">
                <li class="date">04/2010 - 06/2012</li>
                <li class="company uppercase">
                  <a>
                    Leo Burnett London Office
                  </a>
                </li>
                <li class="position">Senior Designer</li>
              </ul>
              <ul class="">
                <li class="date">06/2012 - present</li>
                <li class="company uppercase">
                  <a>
                    Google Inc. Dublin.
                  </a>
                </li>
                <li class="position">UI/UX Designer</li>
              </ul>
            </div>
            <a href="resume.html" class="btn btn-wh-trans btn-xs">Learn More</a>
            <div class="dividewhite1"></div>
          </div>
        </div>
        <div id="personal" class="col-md-6 flex-column light ui-block-color01 personal" data-animation-origin="right" data-animation-duration="500" data-animation-delay="600" data-animation-distance="100px">
          <div class="padding-50 flex-panel">
            <h3 class="font-accident-two-normal uppercase">Personal Information</h3>
            <div class="dividewhite4"></div>
            <div>
              <div class="fullwidth box">
                <div class="one">
                  <p class="uppercase">Name:</p>
                </div>
                <div class="two">
                  <p class="">Helena Anderson</p>
                </div>
              </div>
              <div class="fullwidth box">
                <div class="one">
                  <p class="uppercase text-nowrap">Date of Birth:</p>
                </div>
                <div class="two">
                  <p class="">03/12/1980</p>
                </div>
              </div>
              <div class="fullwidth box">
                <div class="one">
                  <p class="uppercase">Address:</p>
                </div>
                <div class="two">
                  <p class="">1234, Direct drive, Daytona Beach, Fl, USA</p>
                </div>
              </div>
              <div class="fullwidth box">
                <div class="one">
                  <p class="uppercase">Phone:</p>
                </div>
                <div class="two">
                  <p class="">1 234 567 89 10</p>
                </div>
              </div>
              <div class="fullwidth box">
                <div class="one">
                  <p class="uppercase">Email:</p>
                </div>
                <div class="two">
                  <p class="">james@anderson.com</p>
                </div>
              </div>
            </div>
            <div class="dividewhite1"></div>
          </div>
        </div>
      </div>
    </section>

    <section id="clients" class="light padding-50 bg-color01" data-animation-origin="bottom" data-animation-duration="500" data-animation-delay="500" data-animation-distance="50px">
      <div class="row row-no-padding">
        <div class="col-md-1 col-sm-1 col-xs-4">
          <a href="#!"><img src="/assets/custom/2.2.0/images/layouts/james/clients/dark/01.png" class="img-responsive"></a>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-4">
          <a href="#!"><img src="/assets/custom/2.2.0/images/layouts/james/clients/dark/02.png" class="img-responsive"></a>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-4">
          <a href="#!"><img src="/assets/custom/2.2.0/images/layouts/james/clients/dark/03.png" class="img-responsive"></a>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-4">
          <a href="#!"><img src="/assets/custom/2.2.0/images/layouts/james/clients/dark/04.png" class="img-responsive"></a>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-4">
          <a href="#!"><img src="/assets/custom/2.2.0/images/layouts/james/clients/dark/05.png" class="img-responsive"></a>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-4">
          <a href="#!"><img src="/assets/custom/2.2.0/images/layouts/james/clients/dark/06.png" class="img-responsive"></a>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-4">
          <a href="#!"><img src="/assets/custom/2.2.0/images/layouts/james/clients/dark/07.png" class="img-responsive"></a>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-4">
          <a href="#!"><img src="/assets/custom/2.2.0/images/layouts/james/clients/dark/08.png" class="img-responsive"></a>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-4">
          <a href="#!"><img src="/assets/custom/2.2.0/images/layouts/james/clients/dark/09.png" class="img-responsive"></a>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-4">
          <a href="#!"><img src="/assets/custom/2.2.0/images/layouts/james/clients/dark/10.png" class="img-responsive"></a>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-4">
          <a href="#!"><img src="/assets/custom/2.2.0/images/layouts/james/clients/dark/11.png" class="img-responsive"></a>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-4">
          <a href="#!"><img src="/assets/custom/2.2.0/images/layouts/james/clients/dark/12.png" class="img-responsive"></a>
        </div>
      </div>
    </section>

  </div>

</div>
