<%= render 'shared/header' %>
<div class="content-wrap">
  <div id="blogpost" class="inner-content">
    <section class="inner-section">
      <div class="container-fluid nopadding" style="text-align:center;">
        <img src="<%= asset_path 'wating2.png'%>">
      </div>
    </section>
  </div>
</div>
